div .diegirls{
	margin-top: 50px;
}

div .location{
	margin-top: 20px;
	font-family: Old Standard TT !important;
}

div .namerus{
	font-family: Old Standard TT !important;
	text-align: center;
}

div .namerus a{
	margin-top: 20px;
}
